* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.5;
  height: 100%;
  background-color: rgb(34 38 56);
}
/* Styles for the header and nav links */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1% 1% 0%;
  background-color: rgb(26, 26, 26);
  color: #fff;
}

h1 {
  left: auto;
  align-self: end;
  left: 1;
  padding-left: 10px;
  color: lightblue;
}

nav {
  display: flex;
  flex: 1 1 160px;
  justify-content: flex-end;
}

nav a {
  color: lightblue;
  margin: 5px;
  text-decoration: none;
  border-bottom: solid lightblue;
}

main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

/* The main hero image below the header */
.hero {
  background-image: url("Screen Shot 2022-06-27 at 12.43.16 PM.png");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  display: flex;
}

/* edits avatar */
.hero img {
  height: 50%;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  filter: grayscale(100%);
  border: rgb(187 156 252) solid;
  margin-left: auto;
  margin-right: auto;
}

/* Format for the three sections headers and the content */
.about {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.about h2 {
  justify-content: flex-start;
  flex-basis: 30%;
  text-align: right;
  border-right: solid lightblue;
  padding-right: 1%;
  padding-top: 5%;
  font-size: xx-large;
  color: lightblue;
}

/* Formats paragraph text */
.about .text {
  display: flex;
  justify-content: flex-end;
  flex-basis: 70%;
  padding: 5%;
  color: lightblue;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

.work h2 {
  justify-content: flex-start;
  flex-basis: 30%;
  text-align: right;
  border-right: solid lightblue;
  padding-right: 1%;
  padding-top: 5%;
  font-size: xx-large;
  color: lightblue;
}

.apps {
  display: block;
  flex-basis: 70%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Creates the large card for the applications */
.app1 {
  display: flex;
  background-image: url("./assets/images/project1.png");
  flex-basis: 10%;
  height: 600px;
  background-size: cover;
  background-position: center;
  border: lightblue solid 5px;
  text-align: center;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.5);
  transition: 1s ease-out;
}

/* Makes animation for application cards */
.app1:hover {
  box-shadow: inset 0 0 0 150px #0000;
}

/* Makes the smaller apps flow correctly */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

/* Style for the smaller cards */
.app2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-image: url("./assets/images/project2.png");
  height: 100px;
  background-size: cover;
  background-position: center;
  border: lightblue solid 5px;
  text-align: center;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.5);
  transition: 1s ease-out;
}

.app2:hover {
  box-shadow: inset 0 0 0 150px #0000;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact h2 {
  justify-content: flex-start;
  flex-basis: 30%;
  text-align: right;
  border-right: solid lightblue;
  padding-right: 1%;
  padding-top: 5%;
  font-size: xx-large;
  color: lightblue;
}

/* Formats bottom contact links */
.contact a {
  color: lightblue;
  text-decoration: none;
  border-bottom: solid lightblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  justify-content: center;
}
h3 {
  background-color: lightblue;
  width: 70px;
  align-self: flex-end;
}

h4 {
  background-color: lightblue;
  width: 70px;
  align-self: flex-end;
}

/* Web, tablet, and phone adjustments */
@media screen and (max-width: 992px) {
  h1 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  header a {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  header img {
    float: left;
    position: absolute;
    bottom: 80%;
    left: 16px;
    border-radius: 50%;
    display: inline;
  }
}

@media screen and (max-width: 992px) {
  #subtitle {
    margin-left: 50%;
    justify-self: center;
  }
}
@media screen and (max-width: 992px) {
  .about h2 {
    border-right: none;
    border-bottom: solid lightblue;
    flex-direction: column;
    min-width: 100%;
    text-align: left;
    justify-content: center;
    padding-right: 0%;
    font-size: larger;
  }
}

@media screen and (max-width: 992px) {
  .work h2 {
    border-right: none;
    border-bottom: solid lightblue;
    flex-direction: column;
    min-width: 100%;
    text-align: left;
    justify-content: center;
    padding-right: 0%;
    font-size: larger;
  }
}

@media screen and (max-width: 992px) {
  .contact h2 {
    border-right: none;
    border-bottom: solid lightblue;
    flex-direction: column;
    min-width: 100%;
    text-align: left;
    justify-content: center;
    padding-right: 0%;
    font-size: larger;
  }
}

@media screen and (max-width: 992px) {
  .contact {
    border-right: none;
    flex-direction: column;
    min-width: 100%;
    text-align: left;
    justify-content: center;
    padding-right: 0%;
    /* font-size: larger; */
  }
}

@media screen and (max-width: 992px) {
  .about .text {
    flex: 2;
  }
}

@media screen and (max-width: 992px) {
  main,
  nav {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .work {
    display: block;
    align-self: space-between;
    flex-grow: 1;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding-top: 0%;
    padding-right: 0%;
  }
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 0%;
    padding-right: 0%;
  }
}

@media screen and (max-width: 768px) {
  .work .app1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 83%;
    padding-top: 0;
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 0;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .work .app2 {
    margin-top: 20px;
  }
}
